<div class="container">
    <form (ngSubmit)="election()" [formGroup]="formulario">
       <div class="form-group ">
        <label for="title">Title :</label>
        <input formControlName="title" type="text" class="form-control" name="title">
      </div>
      <div class="form-group">
        <label for="description">Description :</label>
        <input formControlName="description" type="text" class="form-control" name="description">
      </div>
      <div class="form-group">
        <label for="price">Price :</label>
        <input formControlName="price" type="text" class="form-control" name="price">
      </div>
      <div class="form-group">
        <label for="imgs">Imagenes :</label>
        <input formControlName="imgs" type="text" class="form-control" name="imgs">
      </div>   
        <button type="submit" class="btn btn-success" *ngIf="!update">Send</button>
        <button type="submit" class="btn btn-success" *ngIf="update">Update</button>
    </form>
  </div>
